@addTagHelper *, XperienceCommunity.PageBuilderTagHelpers

@model XperienceCommunity.HTMLTagPageBuilderComponents.Components.AdvancedHTMLTagWidgetErrorViewModel

<page-builder-mode exclude="Live">
    <div class="page-builder-error-message">
        @Model.ErrorMessage
    </div>
</page-builder-mode>